# Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler, FunctionTransformer

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, mean_squared_log_error

In [2]:
train = pd.read_csv(r"data\train_final.csv")

In [3]:
train.head()

,id,date,store_nbr,family,sales,onpromotion,family_new,day,week,month,year,isweekend,wage_day,cluster_new,type,oil_price,holiday
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,MISC,1,1,1,2013,False,True,E,D,93.055,True
1,1,2013-01-01,1,BABY CARE,0.0,0,MISC,1,1,1,2013,False,True,E,D,93.055,True
2,2,2013-01-01,1,BEAUTY,0.0,0,LADIES,1,1,1,2013,False,True,E,D,93.055,True
3,3,2013-01-01,1,BEVERAGES,0.0,0,BEVERAGE,1,1,1,2013,False,True,E,D,93.055,True
4,4,2013-01-01,1,BOOKS,0.0,0,STATIONARY,1,1,1,2013,False,True,E,D,93.055,True

In [4]:
train = train.drop(["date", "store_nbr", "family"], axis=1)

In [5]:
train.head()

,id,sales,onpromotion,family_new,day,week,month,year,isweekend,wage_day,cluster_new,type,oil_price,holiday
0,0,0.0,0,MISC,1,1,1,2013,False,True,E,D,93.055,True
1,1,0.0,0,MISC,1,1,1,2013,False,True,E,D,93.055,True
2,2,0.0,0,LADIES,1,1,1,2013,False,True,E,D,93.055,True
3,3,0.0,0,BEVERAGE,1,1,1,2013,False,True,E,D,93.055,True
4,4,0.0,0,STATIONARY,1,1,1,2013,False,True,E,D,93.055,True

In [12]:
one_hot_cols = train.columns[(train.dtypes == "object")|(train.dtypes == "bool")]
log_transformer = FunctionTransformer(np.log1p, validate=False)

one_hot_encoder = OneHotEncoder(sparse=False, handle_unknown='error', drop='first')
column_transformer = ColumnTransformer(
    [
        ("categorical_cols", one_hot_encoder, one_hot_cols),
    ],
    remainder="passthrough",
)

In [13]:
y = train["sales"]
X = train.drop(["sales"], axis=1)

In [14]:
X_train = X[:int(len(X) * 0.8)]
y_train = y[:int(len(y) * 0.8)]
X_test = X[int(len(X) * 0.8):]
y_test = y[int(len(y) * 0.8):]

In [15]:
X_train = column_transformer.fit_transform(X_train)
X_test = column_transformer.transform(X_test)

y_train = log_transformer.fit_transform(y_train)
y_test = log_transformer.transform(y_test)

In [16]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [17]:
preds = lr.predict(X_test)
preds = np.exp(preds)-1
y_test = np.exp(y_test)-1

mae = mean_absolute_error(y_test, preds)
mse = mean_squared_error(y_test, preds)
msle = mean_squared_log_error(y_test, preds)
mae, mse, msle, np.sqrt(msle)

ValueError: Mean Squared Logarithmic Error cannot be used when targets contain negative values.

In [21]:
preds.min()

-0.11737762970596854

In [23]:
mae, mse,

(6444357978.623769, 2.432599551528813e+25)

In [24]:
preds

array([4.14979648e+00, 1.76997599e+00, 1.06806516e+02, ...,
       3.97670305e+03, 2.14219465e+00, 1.16003933e+02])